<nav class="bg-navBackground flex-no-wrap fixed top-0 z-10 w-full py-2">
  <div class="flex px-5 md:px-28 items-center justify-between">
    <ul class="flex items-center gap-x-10 text-white">
      <li><a class="cursor-pointer" href="#translation">الترجمة</a></li>
      <li><a class="cursor-pointer" href="/categories">القاموس</a></li>
      <li><a class="cursor-pointer" href="#team">عن الفريق</a></li>
      <li>
        <a
          class="cursor-pointer"
          href="mailto:contact@bastet-app.com?subject=تواصل مع فريق&body={{
            mailBody
          }}"
          >تواصل معنا</a
        >
      </li>
    </ul>

    <a href="/">
      <img src="/logo.svg" />
    </a>
  </div>
</nav>
