<div class="relative h-[calc(100vh-70px)] flex justify-center flex-col">
  <div class="absolute w-full h-full overlay"></div>
  <img
    src="/landing-page-image.png"
    alt="landing-image"
    class="absolute w-full h-full back-section-image"
  />
  <div class="container relative mx-auto text-center flex flex-col gap-y-10">
    <h2 class="text-white text-5xl">
      <span class="text-main">Bastet</span>
      مرحبا بك في
    </h2>
    <p class="text-white text-3xl leading-10">
      إحياء اللغة هو اعلان بداية عصر جديد، عصر النهضة و الحضارة الحديثة لكيميت
      <br />
      شارك معانا في إحياء اللغه والثقافة
    </p>
    <button
      class="border border-white w-fit mx-auto px-4 py-2 text-white rounded-xl"
    >
      تواصل معنا
    </button>
  </div>
</div>
