<div
  class="text-white flex items-center justify-center gap-x-10 mt-10 md:mt-20"
  id="trans-options"
>
  <p class="w-12">{{ languages[1].text }}</p>
  <svg
    (click)="onClick()"
    class="cursor-pointer"
    width="28"
    height="28"
    viewBox="0 0 28 28"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M22.5312 11.8125L26.9062 7.4375L22.5312 3.0625M5.46875 24.9375L1.09375 20.5625L5.46875 16.1875"
      stroke="#F4931E"
      stroke-width="2"
      stroke-miterlimit="10"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M1.09375 20.5625H14C16.4163 20.5625 18.375 18.6038 18.375 16.1875C18.375 13.7712 16.4163 11.8125 14 11.8125"
      stroke="#F4931E"
      stroke-width="2"
      stroke-miterlimit="10"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M14 16.1875C11.5837 16.1875 9.625 14.2288 9.625 11.8125C9.625 9.39624 11.5837 7.4375 14 7.4375H26.9062"
      stroke="#F4931E"
      stroke-width="2"
      stroke-miterlimit="10"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
  <p class="w-12">{{ languages[0].text }}</p>
</div>
