<app-landing-background [fullHieght]="'min-h-dvh'">
  <div class="mt-10">
    <p
      class="mx-auto w-fit text-3xl text-white translation-to-egy-text after:bg-third"
    >
      اضف كلمه
    </p>

    <form
      [formGroup]="wordForm"
      (submit)="submitWord()"
      class="holder text-white mt-10 px-4"
    >
      <div class="flex flex-col md:flex-row md:gap-x-8 md:w-4/5 mx-auto">
        <div class="font-bold text-lg flex-1 flex flex-col gap-y-10">
          <div class="grid md:grid-cols-3 gap-4">
            <label
              for="hiero"
              class="grid grid-cols-[6rem_1fr] items-center gap-x-4 w-full md:col-span-2"
            >
              <span>مصري</span>
              <input
                formControlName="hiero"
                id="hiero"
                class="bg-inputBackground p-4 rounded-md w-full focus:outline-none"
                [class.invalid]="
                  wordForm.get('hiero')?.invalid &&
                  (wordForm.get('hiero')?.dirty ||
                    wordForm.get('hiero')?.touched ||
                    isSubmitted)
                "
              />
            </label>

            <label
              for="symbol"
              class="grid grid-cols-[6rem_1fr] items-center gap-x-4 w-full md:col-span-1"
            >
              <span>رمز</span>
              <input
                formControlName="symbol"
                id="symbol"
                class="bg-inputBackground p-4 rounded-md w-full focus:outline-none"
                [class.invalid]="
                  wordForm.get('symbol')?.invalid &&
                  (wordForm.get('symbol')?.dirty ||
                    wordForm.get('symbol')?.touched ||
                    isSubmitted)
                "
              />
            </label>
          </div>

          <label
            for="arabic"
            class="grid grid-cols-[6rem_1fr] items-start gap-x-4 w-full"
          >
            <div class="flex flex-col gap-y-1">
              <span>عربي</span>
              <span class="text-sm font-normal leading-tight">
                منفصله باستخدام ,
              </span>
            </div>
            <input
              formControlName="arabic"
              id="arabic"
              class="bg-inputBackground p-4 rounded-md w-full focus:outline-none"
              [class.invalid]="
                wordForm.get('arabic')?.invalid &&
                (wordForm.get('arabic')?.dirty ||
                  wordForm.get('arabic')?.touched ||
                  isSubmitted)
              "
            />
          </label>

          <label
            for="comment"
            class="grid grid-cols-[6rem_1fr] items-center gap-x-4 w-full"
          >
            <span>تعليق</span>
            <input
              formControlName="comment"
              id="comment"
              class="bg-inputBackground p-4 rounded-md w-full focus:outline-none"
              [class.invalid]="
                wordForm.get('comment')?.invalid &&
                (wordForm.get('comment')?.dirty ||
                  wordForm.get('comment')?.touched ||
                  isSubmitted)
              "
            />
          </label>
          <button class="border-2 border-third p-4 rounded-3xl bg-[#252422]">
            اضافه
          </button>
        </div>
        <div class="hidden xl:block w-64 min-h-full">
          <!-- <iframe -->
          <!--   src="https://www.youtube.com/embed/pJ965ppi4iA" -->
          <!--   class="w-full h-full rounded-lg shadow-md border border-gray-700" -->
          <!-- ></iframe> -->
        </div>
      </div>
    </form>
  </div>
</app-landing-background>
