<div class="py-4 pt-24">
  <div class="grid md:grid-cols-2 gap-10">
    <!-- Right Column: Arabic Text -->
    <div class="text-right text-white">
      <b class="flex justify-center text-lg mt-10 text-titleColor">
        شاهد الفيديو التعريفي الان !
      </b>
      <div class="flex justify-evenly">
        <img src="/start-bracket.svg" />
        <img src="/end-bracket.svg" />
      </div>
      <p class="text-lg mt-10 ml-10">
        فريق
        <span class="text-main">باستيت</span>
        قام بتطوير طريقة جديدة لكتابة اللغة المصرية القديمة عن طريق دمج الابجدية
        العربية مع الخط الهيروغليفي
      </p>
    </div>
    <!-- Left Column: Video -->
    <div>
      <iframe class="w-full aspect-video" width="260" height="560"
        src="https://www.youtube.com/embed/KLCMD8ElvdY?si=ND5yvN8LSOPNDcgg" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
  <hr class="w-1/2 h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-lineColor" />
  <div id="team" class="grid md:grid-cols-2 gap-10 mt-20">
    <!-- Right Column: Arabic Text -->
    <div class="text-right text-white">
      <b class="flex justify-center text-lg mt-10 text-titleColor"> الفريق </b>
      <div class="flex justify-evenly">
        <img src="/start-bracket.svg" />
        <img src="/end-bracket.svg" />
      </div>
      <p class="text-lg mt-10 ml-10">
        فريق
        <span class="text-main">باستيت</span>
        قام بعمل المشروع بشكل تطوعي, يمكنكم الوصول لحسابتهم عن طريق الضغط علي
        صورة كل من اعضاء الفريق شكر من القلب
        <span class="text-4xl text-titleColor">𓄣</span>
        لكل من ساهم في بناء المشروع
      </p>
    </div>
    <div class="grid md:grid-cols-3 grid-cols-2 gap-6">
      <a target="_blank" href="https://www.linkedin.com/in/amranwer/">
        <div
          class="flex flex-col justify-center items-center border border-gray-200 rounded-lg shadow dark:border-main">
          <h5 class="m-10 text-5xl md:text-8xl text-titleColor">𓅞</h5>
          <p><span class="text-main text-lg">Amro</span></p>
          <p class="m-1"><span class="text-gray-400">Founder & Tech Lead</span></p>
        </div>
      </a>

      <div class="flex flex-col justify-center items-center border border-gray-200 rounded-lg shadow dark:border-main">
        <h5 class="m-10 text-5xl md:text-8xl text-titleColor">𓀀</h5>
        <p><span class="text-main text-lg">Ahmed</span></p>
        <p class="m-1"><span class="text-gray-400">Language Expert</span></p>
      </div>
      <a target="_blank" href="https://www.linkedin.com/in/hendmohamed22/">
        <div
          class="flex flex-col justify-center items-center border border-gray-200 rounded-lg shadow dark:border-main">
          <h5 class="m-10 text-5xl md:text-8xl text-titleColor">𓁘</h5>
          <p><span class="text-main text-lg">Hend</span></p>
          <p class="m-1"><span class="text-gray-400">UI/UX</span></p>
        </div>
      </a>

      <div class="flex flex-col justify-center items-center border border-gray-200 rounded-lg shadow dark:border-main">
        <h5 class="m-10 text-5xl md:text-8xl text-titleColor">𓃹</h5>
        <p><span class="text-main text-lg">Karyna</span></p>
        <p class="m-1"><span class="text-gray-400">UI/UX</span></p>
      </div>
      <a target="_blank" href="https://www.linkedin.com/in/muhammad-hesham-alsheikh/">
        <div
          class="flex flex-col justify-center items-center border border-gray-200 rounded-lg shadow dark:border-main">
          <h5 class="m-10 text-5xl md:text-8xl text-titleColor">𓉴</h5>
          <p> <span class="text-main text-lg">Muhammed Hesham</span></p>
          <p class="m-1"><span class="text-gray-400">Mobile Developer</span></p>
        </div>
      </a>

      <div class="flex flex-col justify-center items-center border border-gray-200 rounded-lg shadow dark:border-main">
        <h5 class="m-10 text-5xl md:text-8xl text-titleColor">𓂓</h5>
        <p><span class="text-main text-lg">Philo</span></p>
        <p class="m-1"><span class="text-gray-400">Language Expert</span></p>
      </div>
      <div class="flex flex-col justify-center items-center border border-gray-200 rounded-lg shadow dark:border-main">
        <h5 class="m-10 text-5xl md:text-8xl text-titleColor">𓆙</h5>
        <p><span class="text-main text-lg">Yousef</span></p>
        <p class="m-1"><span class="text-gray-400">Full Stack</span></p>
      </div>

    </div>
  </div>
</div>