<p>categories works!</p>
<div class="bg-gradient-to-t from-[#100c07] to-[#291f14]"></div>
<app-navbar></app-navbar>
<div
  class="absolute left-1/2 -translate-x-1/2 w-full bg-black text-white min-h-screen"
>
  <div class="m-20">
    <div
      for="category"
      class="grid grid-cols-[6rem_1fr] items-start gap-x-4 w-full"
    >
      <div class="flex flex-col gap-y-1">
        <span>التصنيفات</span>
      </div>
      <!-- <div id="category" class="bg-inputBackground p-4 relative rounded-md w-full select-none">
                </div> -->
      <mat-form-field>
        <mat-label>اختر التصنيف</mat-label>
        <mat-select [(value)]="selectedCategory">
          @for (food of foods; track food) {
            <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
