<div class="min-h-[100dvh] bg-black relative top-0">
  <div class="absolute left-1/2 -translate-x-1/2 w-full bg-black">
    <app-lang-switcher></app-lang-switcher>
    <app-user-input></app-user-input>
    @for (obj of data; track obj.id) {
      <div class="container text-white text-2xl" id="{{ obj.id }}">
        <label for="Egyptian" class="relative block">
          <span class="block sm:inline">مصري:</span>
          <input
            value="{{ obj.Egyptian }}"
            class="text-xl sm:text-2xl bg-transparent border-b outline-none border-b-main py-2 w-full sm:w-auto"
          />
        </label>

        <div class="mt-4">
          <span>رمز:</span>
          <span [innerHTML]="sanitizeSymbol(obj.Symbol)">
            {{ obj.Symbol }}
          </span>
        </div>

        <div class="mt-4">
          <input
            class="text-xl sm:text-2xl bg-transparent border-b outline-none border-b-main w-full sm:w-auto"
            placeholder="اضافه رمز اخر للتعديل"
          />
        </div>

        <label for="Arabic" class="block sm:flex items-center gap-x-4 mt-4">
          <span class="block sm:inline">ترجمات:</span>
          <input
            value="{{ obj.Arabic }}"
            class="text-xl sm:text-2xl bg-transparent border-b outline-none border-b-main w-full sm:w-auto"
          />
        </label>
      </div>
      <br />
    }
  </div>
</div>
