<div class="min-h-[100dvh] bg-black relative top-0">
  <div class="absolute left-1/2 -translate-x-1/2 w-full bg-black">
    <app-lang-switcher></app-lang-switcher>
    <app-user-input></app-user-input>
    @for (obj of data; track obj.id) {
      <div class="container flex flex-col gap-y-4" id="{{ obj.id }}">
        <label
          for="Egyptian"
          class="relative flex items-center text-3xl text-white"
        >
          <span class="block">مصري:</span>
          <input [(ngModel)]="obj.Egyptian" class="admin-trans-result" />
        </label>
        <label class="text-white text-3xl flex items-center gap-x-4">
          رمز:
          <span
            [innerHTML]="sanitizeSymbol(obj.Symbol)"
            class="text-main"
          ></span>
          <input
            (input)="updateSymbol($event, obj.id)"
            class="admin-trans-result max-w-40"
            placeholder="اضف رمز اخر"
          />
        </label>

        <label class="text-white text-3xl flex items-center gap-x-4">
          ترجمات:
          <input [(ngModel)]="obj.Arabic" class="admin-trans-result" />
        </label>

        <label class="text-white text-3xl flex items-center gap-x-4">
          انجليزي:
          <input [(ngModel)]="obj.English" class="admin-trans-result" />
        </label>
                
        <div class="mx-auto w-fit flex items-center gap-x-4">
          <button class="admin-trans-btn" (click)="delete(obj.id)">حذف</button>
          <button class="admin-trans-btn" (click)="put(obj)">
            تأكيد التعديل
          </button>
        </div>
      </div>
      <br />
    }
  </div>
</div>
