<div class="bg-gradient-to-t from-[#100c07] to-[#291f14]"></div>
<app-navbar></app-navbar>
<div class="absolute left-1/2 -translate-x-1/2 w-full bg-black text-white">
  <div class="m-20">
    <div class="reset-tw" dir="ltr">
      <h1>Hieroglyphs Keyboard Privacy Policy</h1>
      <p>
        The Bastet-Team has developed the Hieroglyphs Keyboard app. This Privacy
        Policy explains how we protect your privacy when you use our free
        Android app, Hieroglyphs Keyboard ("<strong>the App</strong>"), which
        provides a keyboard for typing Hieroglyphics.
      </p>

      <h2>1. No Data Collection</h2>
      <p>Our app is designed with your privacy in mind. We do not:</p>
      <ul>
        <li>Collect any personal information</li>
        <li>Connect to the internet</li>
        <li>Store any data</li>
        <li>Share any information with third parties</li>
      </ul>
      <p>Everything you type stays on your device and is not sent anywhere.</p>

      <h2>2. Safe for Everyone</h2>
      <p>Our app is:</p>
      <ul>
        <li>Safe for children of all ages</li>
        <li>Free from advertisements</li>
        <li>Free from in-app purchases</li>
        <li>Free from any tracking</li>
      </ul>

      <h2>3. How the App Works</h2>
      <p>The Hieroglyphs Keyboard works completely offline:</p>
      <ul>
        <li>All keyboard features work without internet connection</li>
        <li>No data is sent to any servers</li>
        <li>No updates are downloaded automatically</li>
        <li>Your typing remains private on your device</li>
      </ul>

      <h2>4. Changes to This Privacy Policy</h2>
      <p>
        We may update this Privacy Policy from time to time. Any changes will be
        posted on this page. We encourage you to review this Privacy Policy
        periodically for any updates.
      </p>

      <h2>5. Contact Us</h2>
      <p>
        If you have any questions about our Privacy Policy, please contact us
        at:
      </p>
      <ul>
        <li>
          <strong>Email:</strong>
          <a href="mailto:contact@bastet-app.com">{{
            'contact@bastet-app.com'
          }}</a>
        </li>
      </ul>

      <hr />

      <p>
        By using the Hieroglyphs Keyboard app, you indicate your acceptance of
        this Privacy Policy. If you do not agree with this policy, please do not
        use our app.
      </p>
    </div>
  </div>
</div>
