/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: stc-forward;
  src: url(FontsFree-Net-STC-Forward-Regular-1.ttf);
}

.overlay::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
}

.back-section-image {
  mix-blend-mode: difference;
  pointer-events: none;
}


.half-colored::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}

@layer components {
  .half-colored {
    @apply text-3xl relative z-[1];
  }

  .info-arabic-text {
    @apply mx-auto w-fit half-colored text-white after:bg-orange-500 after:opacity-20 after:h-1/2
  }

  .translation-to-egy-text {
    @apply half-colored text-secondary after:bg-[#275EA5] after:h-1/6
  }

  .container {
    @apply w-4/5 mx-auto
  }

  .translation-area-wrapper {
    @apply w-3/4 relative
  }

  .translation-area {
    @apply bg-inputBackground border-none rounded-lg outline-none p-4 text-2xl text-white w-full resize-none
  }

  .options-wrapper {
    @apply hidden md:flex absolute bottom-2 right-0
  }

  .options-btn {
    @apply border border-[#6F5A2B] text-gray-400 rounded-2xl mx-2 p-1
  }
}
